@keyframes heartbeat {
    0% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }
    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }
    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }
    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

/*Hiệu ứng tim đập*/
.animated-heart {
    width: 250px; 
    height: auto;
    animation: heartbeat 1.5s ease-in-out infinite both;
    cursor: pointer;
    transition: transform 0.3s ease;
}
/*Di chuột vào bánh to ra*/
.animated-heart:hover {
    animation-play-state: paused;
    transform: scale(1.2); 
}

img, video {
    max-width: 100%;
    height: auto;
}
* {
    box-sizing: border-box;
}
/*GIAO DIỆN TRANG 1 CHO PC*/
.bodytrang1 {
    background-image: url('img/back1.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


/*GIAO DIỆN TRANG 1 CHO ĐIỆN THOẠI*/
@media (max-width: 768px) {
    body {
        background-image: url('img/backdt1.png') !important; 
         
        background-size: cover !important;      
        background-position: center !important;
    }

    /*hình bánh kem nhỏ*/
    .animated-heart {
        width: 180px;
    }

    /* Căn giữa bánh kem */
   .frameanh {
        margin-left: 0 !important; 
        margin-top: 0 !important;  
        justify-content: center !important; 
        height: 100vh !important;  
        align-items: center !important;  
    }
}
/* GIAO DIỆN TRANG 2 MÁY TÍNH*/
.bodytrang2 {
    background-image: url('img/back2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/*GIAO DIỆN TRANG 2 CHO ĐIỆN THOẠI*/
@media (max-width: 768px) {
    .bodytrang2 {
        background-image: url('img/backdt2.png') !important; 
    }
}