@keyframes heartbeat {
    0% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }
    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }
    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }
    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

/*Hiệu ứng tim đập*/
.animated-heart {
    width: 250px; 
    height: auto;
    animation: heartbeat 1.5s ease-in-out infinite both;
    cursor: pointer;
    transition: transform 0.3s ease;
}
/*Di chuột vào bánh to ra*/
.animated-heart:hover {
    animation-play-state: paused;
    transform: scale(1.2); 
}

.frameanh{
    display:flex; margin-left:350px; margin-top: 86px; 
}
.frameanh img{
    width: 400px; height: auto;
}
img, video {
    max-width: 100%;
    height: auto;
}
* {
    box-sizing: border-box;
}
/*GIAO DIỆN MẶC ĐỊNH (MÁY TÍNH)*/
body {
    background-size: cover;
    background-position: center;
}

/* Ảnh bánh kem trên máy tính to hơn */
.animated-heart {
    height: auto;
}


/*GIAO DIỆN CHO ĐIỆN THOẠI*/
@media (max-width: 768px) {
    body {
        background-size: contain !important;      
        background-color: #ffccda; 
    }
    /*hình bánh kem nhỏ hơn*/
    .animated-heart {
        width: 180px;
    }
    .frameanh {
        margin-left: 0 !important; 
        justify-content: center !important;
        margin-top: 40% !important; 
    }
}